<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a href="/product-list" class="<%= path === '/product-list'? 'active':''%>">Products</a></li>
            <li class="main-header__item"><a href="/" class="<%= path === '/shop'? 'active':''%>">Shop</a></li>
            <li class="main-header__item"><a href="/create-order" class="<%= path === '/'? 'active':'create-order'%>">Order</a></li> 
            <li class="main-header__item"><a href="/cart" class="<%= path === '/cart'? 'active':''%>">Cart</a></li>
            <!-- <li class="main-header__item"><a href="/" class="<%= path === '/shop'? 'active':''%>">Shop</a></li> -->
            <li class="main-header__item" ><a class="<%= path==='/add-product'? 'active':''%>" href="/admin/add-product">Add product</a></li>
            <li class="main-header__item" ><a class="<%= path==='/admin-product'? 'active':''%>" href="/admin/products">Admin Products</a></li>
            <!-- <li class="main-header__item" ><a class="<%= path==='/add-product'? 'active':''%>" href="/admin/add-product">Add product</a></li> -->
        </ul>
    </nav>
</header>