<%-include('../includes/head.ejs')%>
   <link rel="stylesheet" href="/css/product.css">
   
</head>
<body>
  <%-include('../includes/navigation.ejs')%>
    <div>
        
        <%if(orders.length>0){%>
            <h1>Your Orders</h1>
            <ul>
                <%orders.forEach(order=>{%>
                    <li>
                        <h1><%=order._id%></h1><h3><%=order.createdAt%></h3>
                        <ul>
                            <% order.products.forEach(product => {%>
                                <li><%=product.title%>(<%=product.quantity%>)</li>
                                <img class="check-out-thumbnail" src="<%=product.imageUrl%>" alt="">
                            <%})%>
                            
                        </ul>
                    </li>
                <%})%>
            </ul>
        <%}else{%>
            <h1>No Order Yet!</h1>
        <%}%>
    </div>
    <%-include('../includes/end.ejs')%>