<%-include('../includes/head.ejs')%>
   <link rel="stylesheet" href="/css/product.css">
   
</head>
<body>
  <%-include('../includes/navigation.ejs')%>
    <div>
        
        <%if(orders.length>0){%>
            <h1>Your Orders</h1>
            <ul class="order_history">
                <%orders.forEach(order=>{%>
                    <li>
                        <h3><%=order.orderDate%></h3>
                        <ul class="order-items">
                            <% order.products.forEach(p => {%>
                                <div class="order-items_list">
                                    <li><%= p.product.title %><span> Quantity: <%=p.quantity %></span></li>
                                    <a href="product-list/<%=p.product._id%>">
                                        <img class="check-out-thumbnail" src="<%=p.product.imageUrl%>" alt="product details">
                                    </a>
                                    <li>Price: $<%=p.product.price%>/unit</li>
                                    <button class="order-detail_btn"><a href="product-list/<%=p.product._id%>">Detail</a></button>
                                </div>
                            <%})%>
                        </ul>
                    </li>
                <%})%>
            </ul>
        <%}else{%>
            <h1>No Order Yet!</h1>
        <%}%>
    </div>
    <%-include('../includes/end.ejs')%>