<%-include('../includes/head.ejs')%>
   <link rel="stylesheet" href="/css/product.css">
</head>
<body>
  <%-include('../includes/navigation.ejs')%>
    <main>
      <!-- <%let total = 0%> -->
        <% if(prods.length>0) {%>
          <!-- let total = 0; -->
          <h2 class="prods-title">Products</h2>
            <div class='prods-container'>
                <% for(let product of prods){%>
                  <!-- <%total = total + +product.price%> -->
                    <div class='prod-item'>
                        <hr>
                        <h3 class=prod-title><%=product.title%></h3>
                        <img class="image" src="<%=product.imageUrl%>" alt="DSLR Camera">
                        <p class="prod-desc"><%=product.description%></p>
                        <p class="prod-price">Price: $<%=product.price%></p>
                        <div class="detail-link">
                          <a href="product-list/<%=product.id%>">Details</a>
                        </div>
                        <div class="card-action">
                          <form action="/cart" method="POST">
                            <button class="add-toCart-btn">Add To Cart</button>
                            <input type="hidden" name ="productId" value="<%=product.id%>">
                          </form>
                        </div>
                        <hr>
                    </div>
                <%}%>
               <!-- <h4>Total Price: <%=total%></h4> -->
            </div>
            
      <% } else{%>  
        <h1>No Product Found</h1>
        <h4>Total Price : 0</h4>
      <%}%>
    </main>
<%-include('../includes/end.ejs')%>